.hero__title,
.hero__subtitle {
  @include animText;
}
.hero-bg__img {
  width: 700px;
  height: 600px;
  background: url(https://picsum.photos/id/237/700/600) no-repeat center center;
  background-size: cover;
}
