// 色の設定
$color-primary: #000;
$color-primary--bg: #ecfff8;
$color-primary--darker: #000;
$color-base: #fff;
$color-text: #4a4a4a;

// フォントサイズの設定
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-default: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

// トランジションの設定
$transition-fast: .3s;
$transition-default: .5s;
$transition-slow: 1s;

// z-indexの数値
$z-go-top: 100 !default;
$z-header: 1001 !default;
$z-header-menu: 1000 !default;
$z-page-overlay: 10000 !default;

// ミックスイン
@mixin animText {
  overflow: hidden;
  & > span {
    display: inline-block;
    transform: translateY(100%);
    transition: transform .7s .3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &.is-animated > span {
    transform: translateY(0);
  }
}
