<div class="container">
  <div class="section">
    <h2 class="title is-2 has-text-centered">特徴</h2>
    <div class="feature__item columns is-vcentered">
      <div class="column is-one-third">
        <div class="feature__img-wrapper">
          <div class="feature__img image is-3by4">
            <img src="https://picsum.photos/id/237/300/400">
          </div>
        </div>
      </div>
      <div class="column is-two-thirds">
        <h3 class="feature__heading title is-3"><span>見出しが入ります</span></h3>
        <p class="feature__test"><span>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span></p>
      </div>
    </div>
    <div class="feature__item columns is-vcentered">
      <div class="column is-one-third">
        <div class="feature__img-wrapper">
          <div class="feature__img image is-3by4">
            <img src="https://picsum.photos/id/237/300/400">
          </div>
        </div>
      </div>
      <div class="column is-two-thirds">
        <h3 class="feature__heading title is-3"><span>見出しが入ります</span></h3>
        <p class="feature__test"><span>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span></p>
      </div>
    </div>
    <div class="feature__item columns is-vcentered">
      <div class="column is-one-third">
        <div class="feature__img-wrapper">
          <div class="feature__img image is-3by4">
            <img src="https://picsum.photos/id/237/300/400">
          </div>
        </div>
      </div>
      <div class="column is-two-thirds">
        <h3 class="feature__heading title is-3"><span>見出しが入ります</span></h3>
        <p class="feature__test"><span>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span></p>
      </div>
    </div>
  </div>
</div>
