<div class="container">
<div class="section">
  <div class="columns">
    <div class="hero__title-wrapper column is-half">
      <h1 class="hero__title title is-1" id="js-hero-title"><span>タイトルが入ります</span></h1>
      <p class="hero__subtitle" id="js-hero-subtitle"><span>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span></p>
    </div>
    <div class="hero-bg__wrapper">
      <svg id="js-hero-bg" viewBox="0 0 700 600" preserveAspectRatio="xMidYMid slice">
        <defs>
          <mask id="hero-bg__mask">
            <path class="js-hero-bg-mask-item" d="M690,10l0,480l-480,0l0,-480l480,0Z" />
            <path class="js-hero-bg-mask-item" d="M10,360l240,0l0,-240l-240,0l0,240Z" />
            <path class="js-hero-bg-mask-item" d="M270,550l0,-120l-120,0l0,120l120,0Z" />
            <path class="js-hero-bg-mask-item" d="M370,270l120,0l0,-120l-120,0l0,120Z" />
            <path class="js-hero-bg-mask-item" d="M640,350l0,240l-240,0l0,-240l240,0Z" />
            <path class="js-hero-bg-mask-item" d="M550,210l0,120l-120,0l0,-120l120,0Z" />
          </mask>
        </defs>
        <foreignObject width="700" height="600" mask="url(#hero-bg__mask)">
          <div class="hero-bg__img"></div>
        </foreignObject>
      </svg>
    </div>
  </div>
</div>
</div>
