<header class="header">
  <button class="header__btn button is-large" id="js-header-btn">
    <span class="icon">
      <i class="fas fa-bars fa-lg"></i>
    </span>
  </button>
</header>
<div class="header-menu" id="js-header-menu">
  <ul class="header-menu__content">
    <li><a href="" class="header-menu__item">MENU 01</a></li>
    <li><a href="" class="header-menu__item">MENU 02</a></li>
    <li><a href="" class="header-menu__item">MENU 03</a></li>
    <li><a href="" class="header-menu__item">MENU 04</a></li>
  </ul>
  <div class="header-menu__bg">
    <svg viewBox="0 0 1000 1000" preserveAspectRatio="xMidYMid slice">
      <defs>
        <mask id="js-header-menu-bg-mask"></mask>
      </defs>
      <foreignObject width="1000" height="1000" mask="url(#js-header-menu-bg-mask)">
        <div class="header-menu__bg-img"></div>
      </foreignObject>
    </svg>
  </div>
</div>
