.go-top {
  position: fixed;
  top: auto;
  bottom: 12px;
  left: auto;
  right: 12px;
  z-index: $z-go-top;
}

.go-top__btn,
.go-top__btn:hover,
.go-top__btn:focus {
  color: $color-primary--darker;
  border-color: $color-primary--darker;
}

.go-top__btn {
  border-radius: 25px;
  transition: transform $transition-fast;
  &:hover {
    transform: scale(1.1);
  }
}

.button.go-top__btn:focus {
  box-shadow: none;
}
