.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-header;
}
.header__btn {
  color: #fff;
  background: #000;
  border: none;
  border-radius: 0;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.header-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: $z-header-menu;
}
.header-menu__content {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all .5s;
  z-index: 1;
}
.header-menu__item {
  padding: 12px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}
.header-menu__bg {
  position: fixed;
  width: 100vmax;
  height: 100vmax;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
}
.header-menu__bg-img {
  width: 1000px;
  height: 1000px;
  background: url(https://picsum.photos/id/237/1000/1000) no-repeat center center;
  background-size: cover;
}

.header-menu.is-open {
  .header-menu__content {
    opacity: 1;
    transform: translateY(0);
  }
}
